name: Generate Posts JSON

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    
    - name: Build with Maven
      run: mvn compile
    
    - name: Generate posts.json
      run: mvn exec:java -Dexec.mainClass="com.dsttl3.GeneratePosts"

    - name: Run java
      run: java -jar WeiboComCheckin-1.0-SNAPSHOT.jar
    
    - name: Commit and push changes
      run: |
        git config --local user.email "admin@dsttl3.cn"
        git config --local user.name "dsttl3"
        git add api/posts.json
        git diff --quiet && git diff --staged --quiet || git commit -m "Update posts.json"
        git push
